@import "./utils";
@import "./mixins";
@import "./variables";
// //**********carousel Images********//
.container-fluid header {
    display: grid;
    grid-template-columns: 1fr 4fr .5fr;
    align-items: center;
    .logo {
        img {
            @include formatImage(70px, 70px);
            // border-radius: 50%;
            margin: .7rem 0;
        }
    }
    .search-bar {
        position: relative;
        top: 10%;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: $border-radius;
        padding: .3rem .5rem;
        margin: 1rem 0 0 .5rem;
    }
    .search-bar-input {
        float: left;
        border: none;
        width: 90%;
        border-radius: $border-radius;
        &:focus {
            outline: hidden;
        }
    }
    .search-bar-input:focus .search-bar {
        border: 1px solid blueviolet;
    }
    .search-bar-span {
        position: absolute;
        right: 0;
        margin: 0 .8rem .4rem 0.2rem;
        color: $primary;
        font-size: 1.2rem;
    }
    nav {
        margin: 2.5rem 0 0 0;
        ul {
            display: flex;
            margin: .3rem 0;
            color: $primary;
            li {
                margin: 0 .3rem 0 .9rem;
            }
        }
    }
}

// .image-slide {
//     // @include formatImage()
//     // background-size: contain;
//     // background-position: center;
//     // background-repeat: no-repeat;
//     // background-attachment: fixed;
//     // height: 70vh;
//     // width: 100%;
// }
.section-a {}

.carousel {
    height: 55vh;
    background-color: rgba($black, 0);
    width: 100%;
    .carousel-inner {
        height: 100%;
        .carousel-item {
            .image-slide {
                display: none;
            }
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 50vh;
            width: 100%;
        }
    }
}