@import "./variables";

@media (min-width: 1000px) {
  .home {
    // display: none;
    .landing-page {
      &-content {
        h1 {
          font-size: $md-font-size;
        }
        p {
          font-size: 1.5rem ;
        }
        small {
          font-size: 1.2rem ;
        }
      }
      &-image {
        display: block;
      }
    }
  }
}
