//***Themes*****//
$primary: #ee6a65;
$light:#f4f4f4;
$text-color:#333;
$white:#fff;
$black:#0000;
$bg-color:#fff;
$box-shadow:-1px 3px 7px 1px #a5a3a3,-3px 4px 2px -3px #ddd;

//***Typography****//
//headers
$sm-font-size:2.2rem;
$md-font-size:3rem;
$xl-font-size:3rem;
