//***Themes*****//
$primary: brown;
$light:#f4f4f4;
$text-color:#333;
$white:#fff;
$black:#0000;
$bg-color:#E5E5E5;

//***Typography****//
//headers
$sm-font-size:2.2rem;
$md-font-size:2.5rem;
$xl-font-size:3rem;
