//***Themes*****//
$primary: #ff6964;
$light: #f4f4f4;
$text-color: #333;
$white: #fff;
$black: #0000;
$bg-color: #fff;
$danger: rgb(221, 48, 48);
$box-shadow: -1px 3px 18px 1px #f4f4f4, -3px 6px 18px -3px #f4f4f4;
$box-shadow2: -1px 3px 18px 1px #d3d3d3, -3px 6px 18px -3px #d3d3d3;

//***Typography****//
//headers
$sm-font-size: 2.2rem;
$md-font-size: 3rem;
$xl-font-size: 3rem;
