@import "./media";
@import "./mixins";
@import "./utils";
@import "./variables";

//header section
.header {
  display: flex;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.logo {
  margin-top: 0rem;
  img {
    height: 3.3rem;
  }
}

.navbar {
  margin: 1rem 1.5rem;
  ul {
    display: flex;
    a {
      color: $text-color;
      margin: 0 1rem;
    }
  }
  .large-nav {
    display: none;
  }
  .search-comp {
    margin-bottom: -0.5rem;
  }
  .cart-icon {
    margin: -0.4rem 0;
    .no-count {
      display: none;
    }

    li {
      span {
        position: absolute;
        top: 0.3rem;
        font-size: 0.6rem;
        font-weight: 900no-count {
          display: none;
          background-color: $white;
        }
        display: block;
        border-radius: 50%;
        height: 1.1rem;
        width: 1.1rem;
        background-color: $danger;
        color: $white;
        text-align: center;
      }
    }
  }
}

//search section
.btn-link {
  outline: none;
  background: inherit;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: lighter;
}
.none {
  display: none;
}

.items {
  width: 80%;
  margin: auto;
  h3 {
    color: $white;
  }
  &-card {
    @include justifyCenter;
    background-color: $white;
    width: 100%;
    margin: 0.5rem 0;
  }
}
@keyframes search {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes form {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.search {
  background-color: rgba($primary, 0.8);
  display: block;
  height: 200vh;
  width: 100vw;
  position: absolute;
  top: 0%;
  left: -0%;
  z-index: 3;
  text-align: center;
  animation: search 1s forwards;
  transition: all 3s ease-out;

  form {
    margin: 7rem auto;
    text-align: center;
    cursor: pointer;
    width: -100%;
    opacity: 0;
    animation: 3s form forwards;
    transition: all 5s ease-out;

    span {
      font-size: $md-font-size;
      color: $white;
    }
    input {
      border-bottom: $white solid 3px;
      border-top: none;
      color: $white;
      border-right: none;
      border-left: none;
      height: 2rem;
      outline: none;
      width: 80%;
      background-color: inherit;
      &:focus {
        box-shadow: $box-shadow;
      }
      &::placeholder {
        color: #fff;
        text-align: center;
      }
    }
  }
  &-result {
    ul {
      display: block;
      position: absolute;
      li {
        display: block;
      }
    }
  }
}

//landing page section
.landing-page {
  display: flex;
  justify-content: space-between;
  &-content {
    h1 {
      font-size: $sm-font-size;
    }
    a {
      margin: 2rem 0;
    }
  }
  &-image {
    display: none;
    @include positionItemRight(absolute, 0, 7rem);
  }
}

//About Section
.about {
  background: linear-gradient(to right, rgba($black, 0.3), rgba($black, 0.4), rgba($black, 0.2)),
    url("../images/advert-image.jpg") center/cover no-repeat;
  @include justifyCenter;
  &-card {
    position: relative;
    background: $white;
    margin: 5rem 0.8rem;
    h2 {
      color: $primary;
    }
    span {
      @include positionItemRight(absolute, 7rem, -1rem);
    }
  }
}

//Product section
.product {
  position: relative;
  background: $white;
  text-align: center;
  cursor: pointer;
  width: 75%;
  margin: 2rem auto;
  box-shadow: $box-shadow;
  &-like {
    @include positionItemRight(absolute, 0, 0);
    padding: 0.7rem 1.2rem 0 0;
    .liked {
      background-color: red;
    }
  }
  &-image {
    padding: 2.7rem 0 0 0;
    img {
      height: 7rem;
      width: 9rem;
    }
    p {
      &:nth-child(3) {
        color: $primary;
        font-weight: 600;
      }
    }
  }
  &-cart {
    background: $primary;
    color: $white;
  }
}

.link-cart {
  color: $white;
}
.no-cart {
  text-align: center;
}

.bags,
.shoes {
  &-title {
    @include justifyCenter;
    span {
      background: $primary;
      height: 0.05rem;
      width: 3rem;
      display: block;
      margin: 0 0.6rem;
    }
    h2 {
    }
  }
}

//Cart Section

.cart {
  margin: 1rem;
  cursor: pointer;
  h3 {
    text-align: left;
  }
  .cart-box {
    box-shadow: $box-shadow;

    &-grid {
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      &-text {
        p {
          font-size: 1.1rem;
        }
        span {
          color: $primary;
          font-weight: bold;
        }
      }
      img {
        height: 5rem;
        width: 7rem;
      }
    }
    &-bottom {
      border-top: 1px solid #ccc;
      padding: 0.1rem 0;
      display: flex;
      span {
        margin: 0 1rem;
      }
    }
  }
  .total,
  .cart-btn {
    text-align: center;
    span {
      font-weight: bold;
    }
  }
}

//notificatiopns styling
.notify {
  background-color: rgba(green, 0.5);
  text-align: center;
  color: $white;
  border-left: 5px solid green;
  width: 15rem;
  height: 3rem;
  padding: 0.6rem;
  font-weight: 500;
  &-danger {
    background-color: rgba(red, 0.5);
    border-left: 5px solid red;
  }
}

//advert section
.advert {
  text-align: center;
  &-links {
    h5 {
      font-size: 1.8rem;
      color: $primary;
    }
  }
  .socials {
    a {
      margin: 1.3rem 0.8rem;
      &:hover {
        color: rgb(90, 90, 90);
        transition: all 2s ease-out;
      }
    }
  }
}
//Sigin UP and Sign section
.form {
  &-wrapper {
    margin: 5rem auto;
    &-image {
      display: none;
    }
    &-field {
      box-shadow: $box-shadow;
      margin: 0 0.5rem;
      // width: 80%;
      h3 {
        text-align: center;
        // margin-top: 1rem;
        padding: 1.4rem 0 0 0;
      }
      form {
        padding: 1rem 0.4rem;
        & > div {
          margin: 0.4rem 0.4rem 1rem 0.4rem;
        }
        label {
          margin: 4.3rem 0;
          padding: 0.5rem 0;
        }

        input {
          border: 1px $primary solid;
          outline: none;
          padding: 0.2rem 0.4rem;
          width: 100%;
          height: 2rem;
          margin: 0 auto;
          &:focus {
            border: 2px solid $primary;
            box-shadow: $box-shadow;
          }
        }
      }
    }
  }
}

//footer section
.footer {
  background: $primary;
  text-align: center;
  color: $white;
  &-subscribe {
    form {
      height: 2.5rem;
      input,
      button {
        height: 100%;
        padding: 0.5rem;
      }
      button {
        background-color: $light;
        outline: none;
        border: none;
        color: $primary;
        cursor: pointer;
        &:hover {
          background: lighten($primary, 100);
          font-weight: 500;
        }
      }
      input {
        padding: 0.4rem 1rem;
        background-color: transparent;
        border-right: none;
        border: 1px solid $light;
        outline: $light;
        &::placeholder {
          color: $white;
          font-style: italic;
        }
        &:focus {
          border: 2px solid $light;
        }
      }
    }
  }
  &-nav {
    ul {
      @include justifyCenter;
      a {
        margin: 0 0.5rem;
        color: $white;
        &:hover {
          color: $primary;
          background: $light;
          padding: 0.4rem;
        }
      }
    }
  }
  cite {
    color: $white;
  }
}
